<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @page.title || current_site.title || 'Title' %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap", "editing" %>
    
    <%= yield :style_overrides %>
    
    <style type="text/css">
      /* Override some defaults */
      
      body { padding-top: 10px; }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      /* The white background content wrapper */
      .content {
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: whiteSmoke;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10,
      .content .span4 {
        min-height: 400px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn { border: 0;  }

    </style>

    <!-- Le fav and touch icons -->
    <!--link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"-->
  </head>

  <body>
    <%= render 'layouts/admin_panel' if @edit %>
    
    <div class="container">

      <div class="content">
        <div class="page-header">
          <%= editable_content :h1, 'headerEditable', "Page nameX <small>Supporting text or tagline</small>" %>
        </div>
        <div class="row">
          <div class="span10">
            <%= editable_content :h2, 'mainHeaderEditable', "Page nameX <small>Supporting text or tagline</small>" %>
            <%= editable_content :div, 'mainContentEditable' %>
          </div>
          <div class="span4">
            <%= editable_content :h3, 'secondaryHeaderEditable', "Secondary Header" %>
            <%= editable_content :div, 'secondaryContentEditable', "Secondary Content" %>
          </div>
        </div>
      </div>

      <footer>
        <%= editable_content :p, 'footerEditable', "&copy; Company 2011" %>
      </footer>

    </div> <!-- /container -->
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/nicEdit.js" if @edit %>

  </body>
</html>

