
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <%= editable_content :h1, 'meanHeader', "Hello, world" %>
  <%= editable_content :p, 'mainContent' %>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <%= editable_content :h2, 'post1Header', "Heading 1" %>
    <%= editable_content :p, 'post1Content', "Some content" %>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span5">
    <%= editable_content :h2, 'post2Header', "Heading 2" %>
    <%= editable_content :p, 'post2Content', "Some content" %>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span5">
    <%= editable_content :h2, 'post3Header', "Heading 3" %>
    <%= editable_content :p, 'post3Content', "Some content" %>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>

<footer>
  <%= editable_content :p, 'footerEditable', "&copy; Company 2011" %>
</footer>

