<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @page.title || current_site.title || 'Title' %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap", "editing" %>
    
    <% content_for :style_overrides %>
    
    <!-- Le fav and touch icons -->
    <!--link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"-->
  </head>

  <body>
    <%= render 'layouts/admin_panel' if @edit %>
    
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <%= editable_content :h1, 'meanHeader', "Hello, world" %>
        <%= editable_content :p, 'mainContent' %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <%= editable_content :h2, 'post1Header', "Heading 1" %>
          <%= editable_content :p, 'post1Content', "Some content" %>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <%= editable_content :h2, 'post2Header', "Heading 2" %>
          <%= editable_content :p, 'post2Content', "Some content" %>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <%= editable_content :h2, 'post3Header', "Heading 3" %>
          <%= editable_content :p, 'post3Content', "Some content" %>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <footer>
        <%= editable_content :p, 'footerEditable', "&copy; Company 2011" %>
      </footer>

    </div> <!-- /container -->
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/nicEdit.js" if @edit %>

  </body>
</html>

