
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <%= editable_content :div, 'header', "<h1>Hello, world<h1><p>Some Content</p>" %>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span5">
    <%= editable_content :div, 'left', '<h2>Heading 1<h2>Some Content <p><a href="#">View details &raquo;</a></p>' %>
  </div>
  <div class="span6">
    <%= editable_content :div, 'center', '<h2>Heading 2<h2>Some Content <p><a href="#">View details &raquo;</a></p>' %>
 </div>
  <div class="span5">
    <%= editable_content :div, 'right', '<h2>Heading 3<h2>Some Content <p><a href="#">View details &raquo;</a></p>' %>
  </div>
</div>

<footer>
  <%= editable_content :p, 'footer', "&copy; Company 2011" %>
</footer>

